<!DOCTYPE html>
<html>
  <head>
    <%- include('head', {page: 'Awesome Things'}) %>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <%- include('header') %>
    <h1>My Site Title is <%= title %></h1>
    <h2><%= welcome %></h2>
    <h2>These are the most awesome things...
      <ul>
        <% awesomeThings.forEach(function(thing) { %>
          <li><%= thing.name %> is awesome</li>
      <% }); %>
      </ul>
      <%- include('javascripts') %>
    </h3>
  </body>
</html>
